*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}
.rss {
  display: block;
  background: -webkit-linear-gradient(top, #d4d5d6 0%, #d2d3d4 22%, #c8c9ca 68%, #c8c9ca 100%);
  background: -moz-linear-gradient(top, #d4d5d6 0%, #d2d3d4 22%, #c8c9ca 68%, #c8c9ca 100%);
  background: -o-linear-gradient(top, #d4d5d6 0%, #d2d3d4 22%, #c8c9ca 68%, #c8c9ca 100%);
  background: -ms-linear-gradient(top, #d4d5d6 0%, #d2d3d4 22%, #c8c9ca 68%, #c8c9ca 100%);
  background: linear-gradient(top, #d4d5d6 0%, #d2d3d4 22%, #c8c9ca 68%, #c8c9ca 100%);
  text-align: center;
  overflow: hidden;
  font-family: HelveticaNeueCyr, sans-serif;
}

label {
  width: 90px;
  height: 25px;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: white;
  border: 1px solid #3F3D56;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  line-height: 27px;
  font-style: normal;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  font-weight: bold;
  -webkit-box-reflect: below 0px
  -webkit-gradient(linear, left top, left bottom,
                  color-stop(0.5, transparent),
                  to(rgba(255, 255, 255, 0.3)));
  -moz-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  cursor: pointer;
}

label.attention:hover {
  background: rgb(238,159,7);
  background: -moz-linear-gradient(top,  rgba(238,159,7,1) 0%, rgba(240,171,8,1) 45%, rgba(243,182,15,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,159,7,1)), color-stop(45%,rgba(240,171,8,1)), color-stop(100%,rgba(243,182,15,1)));
  background: -webkit-linear-gradient(top,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
  background: -o-linear-gradient(top,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
  background: -ms-linear-gradient(top,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
  background: linear-gradient(to bottom,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee9f07', endColorstr='#f3b60f',GradientType=0 );
}
label.attention:hover:before {
  content: "☢"; /* &#9762; */
  font-size: 22px
}
.rss input[type=checkbox]:checked ~ label.attention:hover:before  {
  content: "on";
  font-size: 14px
}


label i {
  position: absolute;
  top: -4px;
  right:60px;
  border: 1px solid #3F3D56;
  width: 36px;
  height: 30px;
  display: block;
  border-radius: 5px;
  background: rgb(255,255,255);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
  background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
  box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: 0.35s ease;
}


label:hover i {
  box-shadow: inset 0 -40px 3px 0 rgba(63, 61, 86, 0.05), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.3);
}
label:active i:before {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3);
}

label:before {
  content: "Нi";
  margin-left: 30px;
  color: #3F3D56;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}

label:after {
  content: "dont't turn me";
  right: 85px;
  width: 150px;

  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #999;
  text-shadow: 0 1px 1px rgba(255,255,255,0.5), 0 -1px 1px rgba(0,0,0,0.1);
  position: absolute;
  top: 0;
}

.rss input[type=checkbox]:checked ~ label:before {
  content: "Так";
  margin-right: 30px;
  margin-left: 0;
  color: white;

}

.rss input[type=checkbox]:checked ~ label:after {
  content: "too bed";
  right: -130px;
}

.rss input[type=checkbox]:checked ~ label{
  background: #3F3D56;
}

.rss input[type=checkbox]:checked ~ label i {
  right: -6px;
}


.rss input:before {
  content: "Logic:";
  margin-left: -35px;
  font-size: 10px;
  color: #333;
}

.rss input {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: 10px;
  opacity: .1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.rss input:hover {
  opacity: 1;
}